.a {
   background-color:skyblue 
}
.b{
    background-color: skyblue;
}
.c {
    background-color: rgb(95, 241, 241);
}
.d {
    background-color: #f0c75e;
}
.e {
    background-color: lightpink;
}
.f {
    background-color: #ffdaf5;
}
.g {
    background-color: skyblue;
}
.one {
    background-color: #ffd3b6;
}
.two {
    background-color: #ffd3b6;
}
.three {
    background-color: #ffdf9e;
}
.four {
    background-color: lightpink;
}
.five {
    background-color: skyblue;
}
.six {
    background-color: skyblue;
}
.seven {
    background-color: skyblue;
}
.ehgit {
    background-color: lightpink
}
.nine {
    background-color: #ffdaf5;
}
.ten {
    background-color: skyblue;
}
.elaven {
    background-color: #ffffe3;
}
.twelf {
    background-color: #f0c75e;
}
.thirteen {
    background-color: lightpink;
}
.fourteen {
    background-color: skyblue;
}
.a1 {
    background-color: skyblue;
}
.b1 {
    background-color: skyblue;
}
.c1 {
    background-color: #ffdf9e;
}
.d1 {
    background-color: lightpink;
}
.e1 {
    background-color: #ffdaf5;
}
.f1 {
    background-color: skyblue;
}
.b5 {
    background-color: #ffd3b6;
}
.b2 {
    background-color: #ffd3b6;
}
.b3 {
    background-color: lightpink;
}
.b4 {
    background-color: skyblue;
}
.z1 {
    background-color: #ffdaf5;
}
.z2 {
    background-color: #ffffd8;
}
.z3 {
    background-color: #befcff;
}
.m {
    background-color: #e0f0e3;
}
.t {
    background-color: #e0f0e3;
}
.w {
    background-color: #e0f0e3;
}
.th {
    background-color: #e0f0e3;
}
.f {
    background-color: #e0f0e3;
}
.s {
    background-color: #e0f0e3;
}
.su {
    background-color: #e0f0e3;
}