
.a9 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.a10 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.a11 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.a12 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.a13 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.a14 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.a15 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}